@model SafeUp.Models.ViewModels.Management.MyGroupsManagementViewModel

@{
    Layout = null;
}

<div id="partial-content" class="row">
    <div class="col-lg-12">
        <h2>Zarządzanie moimi grupami</h2>
        <div class="panel panel-default" style="overflow-y: auto;">
            <table class="table">
                <thead>
                <tr>
                    <th>Lp.</th>
                    <th>Nazwa grupy</th>
                    <th colspan="3">Data utworzenia</th>

                </tr>
                </thead>
                <tbody>
                @{int counter = 0;}
                @foreach (var group in Model.MyGroups)
                {
                    counter++;
                    <tr>
                        <td>@counter</td>
                        <td>@group.Name</td>
                        <td>@group.CreatedOn</td>

                        <td>
                            @Ajax.ActionLink("Użytkownicy", "ShowGroupUsers", "MyManagement",
                                new {groupId = group.ID, groupName = group.Name},
                                null,
                                new {@class = "btn btn-info", type = "button", style = "border-radius:0", data_toggle = "modal", data_target = "#modal-div"})
                        </td>
                        <td>
                            @using (Ajax.BeginForm(
                                "RemoveGroup", "MyManagement",
                                null,
                                new AjaxOptions()
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "partial-content",
                                },
                               new { id = string.Format("remove-group-submit-form{0}",group.ID) }

                                ))
                            {

                                @Html.AntiForgeryToken()

                                <input type="hidden" name="groupId" value="@group.ID"/>



                             <button type="button" value="Dodaj" class="btn btn-danger" style="border-radius: 0; width: 140px;" onclick="RemoveConfirmation(@group.ID)">Usuń grupę</button>

                            }
                        </td>
                    </tr>

                }
                </tbody>


            </table>

            <div class="modal fade" id="modal-div" style="margin-top: 5%;">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 30px;">

            @using (Ajax.BeginForm(
                "AddGroup", "MyManagement",
                null,
                new AjaxOptions()
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "partial-content",
                    OnSuccess = "ValidateOutput"
                },
                new {id = "add-group-submit-form"}
                ))
            {

                @Html.AntiForgeryToken()

                <input id="add-group-input-box" type="text" name="groupName" placeholder="nazwa"/>
                <input id="ajax-add-group-button" data-errormessage="@Model.Message" type="button" value="Dodaj" class="btn btn-success" style="border-radius: 0; width: 140px; margin-left: 5%"/>

            }

        </div>



    </div>

</div>


<script>

    $("#ajax-add-group-button").on("click", ValidateInput);

    function ValidateInput() {

        if ($("#add-group-input-box").val() === "")

        {
            alert("Podaj nazwę grupy");
            return;

        }
        $("#add-group-submit-form").submit();

    }

    function ValidateOutput()
    {

        var message = $("#ajax-add-group-button").data("errormessage");
        if (message !== "")
            {
            alert(message);
             }

       
     }

    function RemoveConfirmation(groupId) {
        if (confirm("Czy jesteś pewien?")) {
            var form = "#remove-group-submit-form" + groupId;
            $(form).submit();
        }
     
    }

</script>